@model List<Book>

<h1>Index</h1>

<p>
    <a href="@Url.Action("Create", "Books")">Create New</a>
</p>
<table class="table" id="BooksTable">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Autor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => book.Author)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Books" asp-route-id="@book.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@book.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Books" asp-route-id="@book.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            const token = localStorage.getItem("authToken");

            // Agregar el token a la cabecera de la solicitud
            $.ajaxSetup({
                headers: {
                    "Authorization": `Bearer ${token}`
                }
            });

            // Obtener la lista de libros usando AJAX
            $.ajax({
                url: "/api/books",
                method: "GET",
                success: function (data) {
                    // Mostrar la lista de libros en la tabla
                    const tableBody = $("#BooksTable tbody");
                    tableBody.empty();

                    for (const book of data) {
                        const row = `<tr>
                                    <td>${book.title}</td>
                                    <td>${book.author}</td>
                                </tr>`;
                        tableBody.append(row);
                    }
                }
            });
        });
    </script>
}

